<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ProgettoGiugno20</title>
</head>
<body>
	<h1>Assign Task To</h1>
	<div>
		<table>
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${members}">
					<td><a
						th:href="'/projects/' +${project.id}+'/task/' +${task.id}+'/assignSuccess/'+${user.id}"
						th:text="${user.firstName}+' '+${user.lastName}">...</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<h4>
		<a href="/home">Home</a>
	</h4>
</body>
</html>
